:root {
    --primary-color: #000;
    --box-padding: 10px;
    --box-font-size: 18px;
    --payment-methods-img-height: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    max-width: 1280px;
    padding: 20px;
    background-color: gainsboro;

    .box {
        display: flex;
        align-items: center;
        padding: var(--box-padding);

        i {
            font-size: 24px;
            margin-right: 10px;
            color: var(--primary-color);
        }

        p {
            margin: 0;
            font-size: var(--box-font-size);
            line-height: 24px;
        }
    }

    .payment-methods {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        img {
            height: var(--payment-methods-img-height);
            margin-left: 10px;
        }
    }
}
