<div class="custom-footer-container">
    <div class="footer-left-block">
        <?php echo $block->getChildHtml('custom_footer_links_block') ?>
    </div>
    <div class="footer-right-block">
        <?php echo $block->getChildHtml('form.subscribe') ?>
    </div>
</div>