//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Newsletter subscription
    .block.newsletter {
        margin-top: 4rem;
        margin-bottom: 20px;

        .form.subscribe {
            display: table;
            width: 80%;
        }

        .fieldset {
            display: table-cell;
            margin: 0;
            padding: 0;
            vertical-align: top;
        }

        .field {
            margin: 0;

            .control {
                .lib-icon-font(
                @icon-envelope,
                @_icon-font-size: 16px,
                @_icon-font-line-height: 32px,
                @_icon-font-color: @form-element-input-placeholder__color,
                @_icon-font-margin: 0 0 0 8px
                );

                &:before {
                    position: absolute;
                }

                display: block;
            }
        }

        input {
            margin-right: 35px;
            padding: 0 0 0 35px; // Reset some default Safari padding values.
        }

        .title {
            margin-top: 20px;
            display: block;

            strong {
                font-size: 14px;
                margin-bottom: 5px;
                text-transform: uppercase;
                font-weight: 600;
            }

            .line {
                width: 100%;
                height: 2px;
                background-color: #ccc;
                margin: 8px 0 16px 0;
            }
        }

        .label {
            &:extend(.abs-visually-hidden all);
        }

        .actions {
            display: table-cell;
            vertical-align: top;
            width: 1%;
        }

        .action.subscribe {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            margin-left: -1px;
            white-space: nowrap;
            background: #e090cf;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum = "min")
    and
    (@break = @screen__m) {
    .block.newsletter {
        max-width: none;
        width: unset;

        .field.newsletter {
            max-width: 220px;
        }

        .form.subscribe {
            > .field,
            > .actions {
                float: left;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum = "max")
    and
    (@break = @screen__m) {
    .block {
        &.newsletter {
            input {
                font-size: 12px;
                padding-left: 30px;
            }

            .field {
                .control:before {
                    font-size: 13px;
                }
            }
        }
    }
}
