@separator-color: #333;

.right-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    a {
        text-decoration: none;
        color: @separator-color;
        margin-right: 20px;
        border-bottom: 2px solid transparent;
        transition: border-color 0.2s ease-in-out;

        &:hover {
            border-color: @separator-color;
        }
    }
}

.separator {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background-color: @separator-color;
}
