.custom-footer-links-block {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;

    .links-col {
        h3 {
            font-size: 14px;
            margin-bottom: 5px;
            text-transform: uppercase;
        }

        .line {
            width: 100%;
            height: 2px;
            background-color: #ccc;
            margin: 8px 0 16px 0;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 5px;

                a {
                    color: #333;
                    display: block;
                    font-size: 14px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.custom-footer-container{
    gap: 55px;
}
