<form id="fresher-form" action="<?php echo $block->getUrl('bss/fresher/submit') ?>" method="post" data-mage-init='{"formWidget":{}}'>
    <label for="name">Name *</label>
    <input type="text" id="name" name="name" required>

    <label for="telephone">Telephone *</label>
    <input type="text" id="telephone" name="telephone" required>

    <label for="dob">Date of Birth *</label>
    <input type="date" id="dob" name="dob" required>

    <label for="message">Message</label>
    <textarea id="message" name="message"></textarea>

    <button type="submit" title="Submit">Submit</button>
</form>
