<div id="overlay" 
    style="
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;"
></div>

<!-- The Popup -->
<div id="popup-template" 
    style="
    background-color: #f0f0f0;
    height: 260px;
    width: 310px;
    display: none;
    position: fixed;
    top: 12%;
    left: 39%;
    z-index: 100;
    padding: 30px;">
    <span  id="close-btn" style="position: absolute;top: -17px;right: 1px;font-size: 40px;cursor: pointer;z-index: 1;">&times;</span>
    <div id="popup-content" 
        style="
        text-align: center;
        position: relative;">

        <h2 style="font-weight: bold;margin: 0;padding: 15px 0;font-size: 30px;">Form infomation</h2>
        <div id="popup-data" style="padding-left: 16px;">
        <!-- Dữ liệu từ data trả về sẽ được hiển thị ở đây -->
            <div style="display:flex;flex-direction:row;gap:60px;padding: 3px;">
                <strong>Name:</strong> 
                <div id="name"></div>
            </div>
            
            <div style="display:flex;flex-direction:row;gap:30px;padding: 3px;">
                <strong>Telephone:</strong> 
                <div id="phone"></div>
            </div>

            <div style="display:flex;flex-direction:row;gap:13px;padding: 3px;">
                <strong>Date of Birth:</strong> 
                <div id="dob"></div>
            </div>

            <div style="display:flex;flex-direction:row;gap:43px;padding: 3px;">
                <strong>Message:</strong> 
                <div id="message"></div>
            </div>

        </div>
    </div>
</div>