<?php /** @var \Magento\Newsletter\Block\Subscribe $block */ ?> <div class="block newsletter"><div class="title"><strong><?= $block->escapeHtml(__('Subscribe our newsletter')) ?></strong> <div class="line"></div><div><p> Laos, alongside many of its Southeast Asian neighbours, is well known for producing counterfeit goods of all types, and with the</p></div></div><div class="content"><form class="form subscribe" novalidate action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>" method="post" data-mage-init='{"validation": {"errorClass": "mage-error"}}' id="newsletter-validate-detail"><div class="field newsletter"><div class="control"><label for="newsletter"><span class="label"><?= $block->escapeHtml(__('Sign Up for Our Newsletter:')) ?></span> <input name="email" type="email" id="newsletter" placeholder="<?= $block->escapeHtml(__('')) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}" /></label></div></div><div class="actions"><button class="action subscribe primary" title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>" type="submit" aria-label="Subscribe"><span><?= $block->escapeHtml(__('Subscribe')) ?></span></button></div></form></div></div><script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/block-submit-on-send": {
                "formId": "newsletter-validate-detail"
            }
        }
    }</script>