<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>


<div>
    <small class="copyright" style="background: #dcdcdc; color: #333; display: flex; align-items: center; font-size: 14px;">
        <span><?= $block->escapeHtml(__('AWESOME A MAGENTO THEME BY RED FACTORY. ALL RIGHT RESERVED')) ?></span>
    </small>

    <div class="policy">
        <?php echo $block->getChildHtml('policy_block') ?>
    </div>
</div>

