<div class="custom-info" id="custom-info" data-bind="scope:'custominfo'">
    <h1>Welcome to Custom Page</h1>

    <div >
        <div class="form-input">
            <div style="display: flex; align-items: center;">
                <input type="text" name="id" placeholder="ID" data-bind="value: id" style="margin-right: 10px;" required>
                <input type="text" name="name" placeholder="Name" data-bind="value: name" style="margin-right: 10px;" required>
                <input type="text" name="class" placeholder="Class" data-bind="value: class" style="margin-right: 10px;" required>
            </div>

            <div style="display: flex; align-items: center;">
                <button type="button" class="btn" style="margin-top: 10px;" data-bind="click: addNewCustomer">Add</button>
                <button type="button" class="reset-list" style="margin-top: 10px;" data-bind="click: resetList">Reset List</button>
            </div>
        </div>

        <div class="separator" style=" margin-top: 20px; border-bottom: 1px solid #ccc;"></div>

        <div class="form-list-show">
            <div class="list-item" style="display: flex; align-items: center; margin-bottom: 10px;" data-bind="foreach: customerList">
                <span style="margin-right: 10px;">Name: <span data-bind="text: name"></span></span>
                <span style="margin-right: 10px;">Class: <span data-bind="text: class"></span></span>
                <button data-bind="click: $parent.deleteCustomer">Delete</button>
            </div>
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
    {
        "#custom-info": {
            "Magento_Ui/js/core/app": {
               "components": {
                    "custominfo": {
                        "component": "Bss_Setting/js/list-info",
                    }
                }
            }
        }
    }
    </script>
</div>